body {
    background-color: #fff1f2;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

svg {
    fill: #ffffff;
    vertical-align: bottom;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(280px, 1fr) 5fr;
    grid-template-rows: 170px auto;
}

.sidebar {
    padding-top: 15px;
    background-color: #881337;
    grid-row: 1 / span 2;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 50px;
    align-items: center;
}

.sidebar h2 {
    font-weight: 500;
    font-size: 32px;
}

.sidebar svg.logo {
    width: 44px;
    height: 44px;
}

.sidebar svg {
    width: 28px;
    height: 28px;
    justify-self: center;
}

.header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 70px 1fr;
    align-items: center;
}

.header svg {
    width: 28px;
    height: 28px;
    fill: #000000;
}