body {
    background-color: #fff1f2;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

svg {
    fill: #ffffff;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(280px, 1fr) 5fr;
    grid-template-rows: 170px auto;
}

.sidebar {
    padding-top: 15px;
    background-color: #881337;
    grid-row: 1 / span 2;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 50px;
    align-items: center;
}

.sidebar h2 {
    font-weight: 500;
    font-size: 32px;
}

.sidebar svg.logo {
    width: 44px;
    height: 44px;
}

.sidebar svg {
    width: 28px;
    height: 28px;
    justify-self: center;
}

.header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 70px 1fr;
    column-gap: 20px;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 3px 3px #00000022;
}

.header .search {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
}

.header svg {
    width: 28px;
    height: 28px;
    fill: #000000;
}

.header .search input {
    background-color: #fff1f2;
    padding: 10px;
    border-radius: 24px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    border:0 none;
}

.header .user {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    align-items: center;
}

.header .user img {
    width: 32px;
    height: 32px;
}

.header .profile {
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
}

.header .profile img {
    width: 64px;
    height: 64px;
    grid-row: 1 / 3;
}

.header .profile h2 {
    margin: 0;
    padding: 0;
}

.header .buttons {
    display: grid;
    gap: 20px;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.header .buttons button {
    width: 100px;
    background-color: #881337;
    padding: 10px;
    border-radius: 24px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border:0 none;
}

.content {
    padding: 10px 25px 25px 25px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 25px;
}

.content h3 {

}

.content .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr 1fr 1fr;
    gap: 25px;
}

.projects h3 {
    grid-column: 1 / 3;
}

.project {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 30px 20px 20px 30px;
    border-left: 8px solid orange;
    box-shadow: 3px 3px 3px #00000022;
    font-size: 16px;
    display: flex;
    flex-direction: column;

}

.project .title {
    display: block;
    font-weight: 500;
    font-size: 18px;
}

.project .text {
    flex: 1;
}

.buttons {
    display: flex;
    gap: 25px;
    justify-content: right;
}

.buttons img {
    width: 24px;
    height: 24px;
}

